{% extends 'boards/base.html' %}

{% block body %}
{% load crispy_forms_tags %}
{% if request.resolver_match.url_name == 'create' %}
    <br>
    <h1>글 생성</h1>
{% else %}
    <h1>글 수정</h1>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <!--<input type="text" name="title"><br>-->
    <!--<textarea name="content"></textarea>-->
    
    <!--{% for field in board_form %}-->
    <!--    {{ field.errors }}-->
    <!--    {{ field.label_tag }} {{ field }}-->
    <!--{% endfor %}-->
    <!--p태그로 감싸준다-->
    {{ board_form|crispy }} 
    <input type="submit">
</form>

<form method="POST">
    {{ board_form.title }}
    {{ board_form.content }}
</form>

{% endblock %}